@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 450px;
  --breakpoint-tablet: 991px;

  --animate-fadeUp: fadeUp .4s linear;
  --animate-fadeDown: fadeDown .4s linear;

  @keyframes fadeUp {
    0% {
      -webkit-transform: translateY(5rem);
              transform: translateY(5rem);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opactiy: 1;
    }
  }

  @keyframes fadeDown {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opactiy: 1;
    }
    100% {
     -webkit-transform: translateY(5rem);
              transform: translateY(5rem);
      opactiy: 0; 
    }
  }
}

:root {
  --danger: #f01414;
  --success: #20a020;

  --primary-text: #130f40;

  --background-hover: #27ae60;
}

@layer base {
  * {
    @apply m-0 p-0 outline-none capitalize no-underline box-border transition duration-200 ease-linear font-["Poppins"]
  }
  html {
    @apply max-xs:text-[50%] max-tablet:text-[55%] text-[62.5%] overflow-x-hidden scroll-smooth scroll-pt-34
  }

  html::-webkit-scrollbar {
    width: 1rem;
  }

  html::-webkit-scrollbar-track {
    background: #fff;
  }

  html::-webkit-scrollbar-thumb {
    background-color: var(--background-hover);
    border-radius: 5rem;
  }
  section {
    @apply py-8 px-[9%] max-tablet:p-8;
  }

  .heading {
    @apply pb-8 text-center;
  }

  .heading span {
    font-family: 'Satisfy', cursive;
    @apply text-[3rem] text-green-600;
  }

  .heading h3 {
    @apply text-[3rem] text-[#130f40];
  }

  .danger {
    @apply text-(--danger)!
  }

  .success {
    @apply text-(--success)!
  }

  .btn {
    @apply inline-block mt-4 cursor-pointer bg-(--background-hover) text-[1.7rem] text-white py-[.7rem] px-[1.8rem] rounded-lg hover:bg-(--primary-text) dark:hover:bg-white dark:hover:text-(--background-hover)
  }
}